parameters:
    level: 9
    paths:
        - Classes
        - Configuration
        - Tests
        - ext_emconf.php
        - ext_localconf.php
    stubFiles:
        - Build/phpstan/stubs/WorkOsResources.stub
    tmpDir: var/cache/phpstan
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: true
    ignoreErrors:
        -
            identifier: missingType.iterableValue
