<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <a href="{provider.url}" class="workos-social-btn workos-social-btn-{provider.key}" title="{provider.label}" aria-label="{provider.label}">
        <span class="workos-social-btn__icon" aria-hidden="true">
            <f:render partial="SocialIcon" arguments="{provider: provider}" />
        </span>
        <span class="workos-social-btn__label">{provider.label}</span>
    </a>
</f:spaceless>
</html>
